body{
    background: url("https://images.unsplash.com/photo-1519781584827-97009e7f000c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3edb9edcc3467cd2bab5a0c535991ce1&auto=format&fit=crop&w=1349&q=80");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}